@use '../../styles/variables';

/* --------------    parent container styles    ------------------- */

@mixin ReviewScreen-center {
  display: flex;
  justify-content: center;
}
@mixin ReviewScreen-modal-center {
  display: flex;
  align-items: center;
}
.review-card-cont {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  backdrop-filter: blur(20px) brightness(85%);
  -webkit-backdrop-filter: blur(20px);
}
.review-cards {
  background: variables.$color-FFFFFF;
  padding: 1rem;
}
.button-submit:hover {
  color: variables.$color-palepink !important;
  background: variables.$color-danger !important;
}

/* Mobile View */
@media (max-width: 767px) {
  .ReviewContainer-cont {
    width: 100%;
  }
  .review-main-cont {
    padding: 2rem;
  }
  .review-main-Row {
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 1rem !important;
  }
  .review-back-icon-bg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  .back-icon {
    height: 2rem;
    width: 3rem;
    color: variables.$color-danger !important;
  }
  .review-card-cont {
    width: 100%;
    padding: 2rem;
  }
  .review-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-24;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-back-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-16;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-card-cont {
    width: 100%;
    padding: 1rem;
  }
  .review-about-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-border-line-full {
    background: linear-gradient(to right, #e38383 10%, transparent 100%);
    height: 0.3rem;
    width: 100%;
    margin-top: 0.2rem;
  }
  .review-cards-cont {
    @include ReviewScreen-center;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0rem 1rem 0rem;
  }
  .review-name-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-desp-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
  }
  // Modal styles
  .fullScreen-header {
    @include ReviewScreen-modal-center;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem 0rem 2rem;
  }
  .close-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .fullScreen-header-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    letter-spacing: 1px;
    margin: 0;
  }
  .fullScreen-cont {
    max-height: 100vh;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .button-submit {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-danger !important;
    background: variables.$color-palepink !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
  .button-cancel {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-palepink !important;
    background: variables.$color-success !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .ReviewContainer-cont {
    width: 100%;
  }
  .review-main-cont {
    padding: 3rem 2rem 0rem 2rem;
  }
  .review-main-Row {
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 0rem !important;
  }
  .review-back-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .back-icon {
    height: 3rem;
    width: 3rem;
    color: variables.$color-danger !important;
  }
  .review-back-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-10;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-card-cont {
    width: 100%;
    padding: 2rem;
  }
  .review-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-24;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-border-line-full {
    background: linear-gradient(to right, #e38383 10%, transparent 100%);
    height: 0.3rem;
    width: 100%;
    margin-top: 0.2rem;
  }
  .review-cards-cont {
    @include ReviewScreen-center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0rem 1rem 0rem;
  }
  .review-name-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-desp-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
  }
  // Modal styles
  .fullScreen-header {
    @include ReviewScreen-modal-center;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem 0rem 2rem;
  }
  .close-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .fullScreen-header-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    letter-spacing: 1px;
    margin: 0;
  }
  .fullScreen-cont {
    max-height: 100vh;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .button-submit {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-danger !important;
    background: variables.$color-palepink !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
  .button-cancel {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-palepink !important;
    background: variables.$color-success !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
}

/* Desktop View */
@media (min-width: 1024px) {
  .ReviewContainer-cont {
    width: 100%;
  }
  .review-main-cont {
    padding: 2rem 6rem 0rem 8rem;
  }
  .review-main-Row {
    --bs-gutter-x: 2rem !important;
    --bs-gutter-y: 0rem !important;
  }
  .review-back-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .back-icon {
    height: 3rem;
    width: 3rem;
    color: variables.$color-danger !important;
  }
  .review-back-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-card-cont {
    width: 100%;
    padding: 2rem;
  }
  .review-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-24;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-border-line-full {
    background: linear-gradient(to right, #e38383 10%, transparent 100%);
    height: 0.4rem;
    width: 100%;
    margin-top: 0.5rem;
  }
  .review-cards-cont {
    @include ReviewScreen-center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0rem 1rem 0rem;
  }
  .review-name-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-24;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  .review-desp-txt {
    color: variables.$color-000000;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
  }
  // Modal styles
  .fullScreen-header {
    @include ReviewScreen-modal-center;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem 0rem 2rem;
  }
  .close-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .fullScreen-header-txt {
    color: variables.$color-danger;
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-20;
    letter-spacing: 1px;
    margin: 0;
  }
  .fullScreen-cont {
    max-height: 100vh;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .button-submit {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-danger !important;
    background: variables.$color-palepink !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
  .button-cancel {
    @include ReviewScreen-modal-center;
    justify-content: center !important;
    font-family: variables.$font-family-Montserrat !important;
    font-size: variables.$font-size-14 !important;
    text-transform: uppercase !important;
    width: 5.5rem !important;
    height: 2.5rem !important;
    padding: 1rem !important;
    color: variables.$color-palepink !important;
    background: variables.$color-success !important;
    border-radius: 0px solid transparent !important;
    border-color: transparent !important;
  }
}

/* Large Desktop View */
@media (min-width: 1367px) {
  .ReviewContainer-cont {
    width: 100%;
  }
}

@media (min-width: 1729px) {
  .ReviewContainer-cont {
    margin: 0 auto;
    width: auto;
    max-width: auto;
  }
}
