@use '../../styles/variables';

.button-main-cont {
  display: flex;
  justify-content: center;
}
.dt-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  margin-bottom: 1.2vh;
  margin-left: 1vw;
}
.button-submit {
  height: 6.7vh;
  width: 8vw;
  padding: 1vw;
  font-family: variables.$font-family-Montserrat;
  font-size: variables.$font-size-8;
}
