/* --------------    parent container styles    ------------------- */

.tablinks.active::after {
    content: '';
    display: block;
    height: 0.4rem;
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 50px;
    background: linear-gradient(to right, #e55656, #feebeb);
    transition: 1s ease-in-out;
}

.tablinks {
    cursor: pointer;
}

.tablinks.active {
    border-radius: 50px;
}

.tabContent {
    display: none;
}

/* Mobile View */
@media (max-width: 767px) {
    .about-tab-cont {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        gap: 1rem;
        overflow: hidden;
    }

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
    .about-tab-cont {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        gap: 1rem;
        overflow: hidden;
    }
}

/* Desktop View */
@media (min-width: 1024px) {
    .about-tab-cont {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        gap: 1rem;
        overflow: hidden;
    }
}