* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

section {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
}

.ServiceSection,
.PortfolioSection,
.ContactSection,
.AboutSection,
.FooterSection,
.ParallaxSection {
    background: #fddddd;
    overflow: hidden;
}

.reveal {
    position: relative;
    /* transform: translateY(100px); */
    opacity: 0;
    transition: 2s all ease;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.reveal.active {
    /* transform: translateY(0); */
    opacity: 1;
}

.unreveal {
    position: relative;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.custom-gutters {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

header nav a:hover {
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
    text-decoration: none;
}



.container {
    margin: 100px;
}


.text-container {
    display: flex;
    justify-content: center;
    background: #feebeb;
}

.text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: #feebeb;
}

.text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}


/* Mobile View */
@media (max-width: 764px) {
    .text-container {
        flex-direction: column;
    }

    header nav a {
        letter-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin: 10px 3px;
        padding: 6px;
        color: #ffffff;
        background: linear-gradient(to right, rgb(0 0 0/1), rgb(0 0 0/0.2));
        border-radius: 10px;
        opacity: 0.8;
    }

    header nav a.active {
        transition: 0.5s ease-out;
        letter-spacing: 2px;
        text-decoration: none;
        border-bottom: 5px solid #FF0000;
        padding-bottom: 2px;
    }

    #header-navtxt {
        display: none;
    }

    #about-txt {
        display: inline;
    }

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
    header nav a {
        letter-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin: 10px 15px;
        color: #000000;
    }

    header nav a.active {
        transition: 0.5s ease-out;
        letter-spacing: 2px;
        text-decoration: none;
        border-bottom: 5px solid #FF0000;
        padding-bottom: 5px;
    }

    #header-navtxt {
        display: inline;
    }

    #about-txt {
        display: none;
    }
}

/* Desktop View */
@media (min-width: 1200px) {
    header nav a {
        letter-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin: 10px 15px;
        color: #000000;
    }

    header nav a.active {
        transition: 0.5s ease-out;
        letter-spacing: 2px;
        text-decoration: none;
        border-bottom: 5px solid #FF0000;
        padding-bottom: 5px;
    }

    #header-navtxt {
        display: inline;
    }

    #about-txt {
        display: none;
    }
}



/* CSS Animations (extracted from http://glifo.uiparade.com/) */
/* Animation code for section */

.reveal {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
}

.reveal.active.animEffectBounce {
    animation-name: bounceIn;
}

.reveal.active.animEffectBounceRight {
    animation-name: bounceInRight;
}

.reveal.active.animEffectBounceLeft {
    animation-name: bounceInLeft;
}

.reveal.active.animEffectFadeInDown {
    animation-name: fadeInDown;
}

.reveal.active.animEffectMove {
    animation-name: moveUp;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    60% {
        transform: translateX(20px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        transform: translateX(-20px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}