@use '../../styles/variables';

/* --------------    parent container styles    ------------------- */

@mixin mainScreen-center {
  display: grid;
  align-items: center;
  justify-content: center;
}
.mainScreen-center-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.banner-left-Col {
  width: 40% !important;
}
.banner-right-Col {
  width: 60% !important;
}
.parallax {
  height: 90vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile View */
@media (max-width: 767px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    background: variables.$color-palepink;
    text-align: center;
  }
  .banner-left-cont {
    @include mainScreen-center;
    text-align: left;
    height: 50vh;
  }
  .banner-left-txt-cont {
    width: 100%;
    margin-left: 1.5rem;
  }
  .banner-title-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-18;
  }
  .banner-desp-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
  }
  .banner-right-cont {
    height: 50vh;
    width: 100%;
  }
  .banner-img {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 25%, 100% 100%, 24% 100%, 0 27%, 20% 0);
  }
  .banner-clip {
    height: 50vh;
    width: 30vw;
    clip-path: polygon(100% 0, 54% 27%, 100% 100%, 24% 100%, 0 27%, 20% 0);
    background: rgba(255, 0, 0, 0.342);
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    background: variables.$color-palepink;
    text-align: center;
  }
  .banner-left-cont {
    @include mainScreen-center;
    text-align: left;
    height: 100vh;
  }
  .banner-left-txt-cont {
    width: 100%;
  }
  .banner-title-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-32;
  }
  .banner-desp-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-22;
  }
  .banner-right-cont {
    height: 100vh;
    width: 100%;
  }
  .banner-img {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 25%, 100% 100%, 24% 100%, 0 27%, 20% 0);
  }
  .banner-clip {
    height: 100vh;
    width: 35vw;
    clip-path: polygon(100% 0, 54% 27%, 100% 100%, 24% 100%, 0 27%, 20% 0);
    background: rgba(255, 0, 0, 0.342);
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    background: variables.$color-palepink;
    text-align: center;
  }
  .banner-left-cont {
    @include mainScreen-center;
    text-align: left;
    height: 100vh;
  }
  .banner-left-txt-cont {
    width: 100%;
  }
  .banner-title-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-34;
  }
  .banner-desp-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-24;
  }
  .banner-right-cont {
    height: 100vh;
    width: 100%;
  }
  .banner-img {
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 170%;
    clip-path: polygon(100% 0, 100% 25%, 100% 100%, 24% 100%, 0 27%, 20% 0);
  }
  .banner-clip {
    height: 100vh;
    width: 30vw;
    clip-path: polygon(100% 0, 54% 27%, 100% 100%, 24% 100%, 0 27%, 20% 0);
    background: rgba(255, 0, 0, 0.342);
  }
}

/* Large Desktop View */
@media (min-width: 1367px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
}

@media (min-width: 1729px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
    max-width: 2000px;
  }
}
