@use '../../styles/variables';

/* --------------    parent container styles    ------------------- */

.mainScreen-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainScreen-center-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}
.banner-sub-cont {
  @extend .mainScreen-center-flex;
}
.parallax {
  height: 90vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile View */
@media (max-width: 767px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    // height: 100vh;
    background: variables.$color-palepink;
    text-align: center;
    // padding-top: 6rem;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    // height: 100vh;
    background: variables.$color-palepink;
    text-align: center;
    // padding-top: 4rem;
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .banner-cont {
    position: relative;
    width: 100%;
    // height: 100vh;
    background: variables.$color-palepink;
    text-align: center;
    // padding-top: 4rem;
  }
}

/* Large Desktop View */
@media (min-width: 1367px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
  }
}

@media (min-width: 1729px) {
  .MainContainer-main {
    margin: 0 auto;
    width: auto;
    max-width: 2000px;
  }
}
