@use '../../styles/variables';

/* --------------    parent container styles    ------------------- */

.headerScreen-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo:hover {
  transition: 0.6s ease-out;
  transform: scale(1.2);
}
.header-txt-cont {
  transition: 0.6s ease-out;
}

/* Mobile View */
@media (max-width: 767px) {
  .headerContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
    position: fixed;
    right: 1rem;
    color: variables.$color-707070;
  }
  .header-mainflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header-submainflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-img-cont {
    align-self: flex-start;
    margin-bottom: 0.4rem;
  }
  .header-txt-cont {
    display: none;
  }
  .header-cont {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px -10px;
  }
  .header-logo {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 20%;
  }
  .header-nav-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-12;
    margin-bottom: 2px;
    font-weight: 800;
  }
  .header-about-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-16;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .header-img-cont {
    margin-right: 7rem;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
  .headerContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .header-desktop {
    display: block;
  }
  .header-mobile {
    display: none;
  }
  .header-mainflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-submainflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header-img-cont {
    margin-right: 1rem;
  }
  .header-txt-cont {
    display: block;
  }
  .header-cont {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px -10px;
  }
  .header-logo {
    height: 4rem;
    width: 4rem;
    border-radius: 20%;
  }
  .header-nav-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-14;
    font-weight: 700;
  }
  .header-about-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-16;
  }
  .anchor-btn {
    display: block;
    width: 6rem;
    height: 3rem;
    background: variables.$color-palepink;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: variables.$color-danger;
    font-weight: bold;
    line-height: 25px;
  }
  .anchor-btn:hover {
    display: block;
    width: 6rem;
    height: 3rem;
    background: variables.$color-danger;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: variables.$color-FFFFFF;
    font-weight: bold;
    line-height: 25px;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .header-img-cont {
    margin-right: 12rem;
  }
}

/* Desktop View */
@media (min-width: 1024px) {
  .headerContainer-main {
    margin: 0 auto;
    width: auto;
  }
  .header-desktop {
    display: block;
  }
  .header-mobile {
    display: none;
  }
  .header-mainflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-submainflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header-img-cont {
    margin-right: 8rem;
  }
  .header-txt-cont {
    display: block;
  }
  .header-cont {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    // height: 6rem;
    padding: 12px 20px 12px 20px;
    text-align: center;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px -10px;
  }
  .header-logo {
    height: 4rem;
    width: 4rem;
    border-radius: 20%;
  }
  .header-nav-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-18;
    font-weight: 600;
  }
  .header-about-txt {
    font-family: variables.$font-family-Montserrat;
    font-size: variables.$font-size-16;
  }
  .anchor-btn {
    display: block;
    width: 6rem;
    height: 3rem;
    background: variables.$color-palepink;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: variables.$color-danger;
    font-weight: bold;
    line-height: 25px;
  }
  .anchor-btn:hover {
    display: block;
    width: 6rem;
    height: 3rem;
    background: variables.$color-danger;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: variables.$color-FFFFFF;
    font-weight: bold;
    line-height: 25px;
  }
}

/* Large Desktop View */
@media (min-width: 1367px) {
  .headerContainer-main {
    margin: 0 auto;
    width: auto;
  }
}

@media (min-width: 1729px) {
  .headerContainer-main {
    margin: 0 auto;
    width: auto;
    max-width: 2000px;
  }
}
